body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This ensures that the container takes up the full viewport height */
}

#quote-box {
  text-align: center;
}

/* position: absolute;
top: 0.1em;
left: -0.5em; */
#text {
  position: relative;
}

#text::before {
  content: "“"; /* This is the left double quotation mark */
  font-size: 2em; /* Adjust size as needed */
  color: #999; /* Adjust color as needed */
  position: absolute;
  top: -0.39em;  /* Adjust as needed */
  left: -0.5em; /* Adjust as needed */
}
